{% load static %}
<button id="submit" type="button" onclick="execute()">test</button>
<textarea id="log" cols="100" rows="20"></textarea>
<script src="{% static 'jquery-3.5.1.min.js' %}"></script>

<script>
    const logSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/log/'
        + '{{ user_uuid }}'
        + '/'
    );

    logSocket.onmessage = function(e) {
        //const data = JSON.parse(e.data);
        document.querySelector('#log').value += (e.data + '\n');
    };

    logSocket.onclose = function(e) {
        console.error('log socket closed unexpectedly')
    };

    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
    });

    function execute() {
        $.ajax({
            url: '{% url 'realtime:execute' %}',
            type: 'post',
            success: function (data) {
                console.log(data);
            }
        })
    }
</script>